<ion-content>
    <ion-text *ngIf="isAd" class="my-uni" color="primary">
        <p class="my-uni">ကြော်ငြာ</p>
    </ion-text>
    <h3 *ngIf="titleText" class="my-uni notification-title">{{titleText}}</h3>
    <img *ngIf="imageUrl" [src]="imageUrl" />
    <p class="my-uni notification-body">{{bodyText}}</p>
    <p *ngIf="link" class="my-uni notification-link">
        <a [class]="'ion-' + linkColor" [href]="link">{{linkLabel}}</a>
    </p>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismissModal()"><span class="my-uni">ပိတ်ပါ</span>
                <ion-icon slot="end" name="close-outline">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
