<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Help & Feedback
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list lines="none">
        <ion-item>
            <ion-text>
                We use the following channels for general feedback and discussions.
            </ion-text>
        </ion-item>
        <ion-item href="https://m.me/DagonMetric">
            <ion-icon slot="start" name="logo-messenger-24"></ion-icon>
            <ion-label>Facebook Messenger<p>m.me/DagonMetric</p>
            </ion-label>

        </ion-item>
        <ion-item href="https://gitter.im/myanmartools/community">
            <ion-icon slot="start" name="logo-gitter-24"></ion-icon>
            <ion-label>Gitter<p>gitter.im/myanmartools/community</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-text>
                We use Github issues to track public bugs.
            </ion-text>
        </ion-item>
        <ion-item href="https://github.com/myanmartools/zawgyi-unicode-converter/issues">
            <ion-icon slot="start" name="logo-github-24"></ion-icon>
            <ion-label>
                GitHub Issues
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
