<ion-content>
    <ion-item lines="none" color="primary">
        <ion-icon class="app-logo" slot="start" name="logo-zawgyi-unicode-converter" size="large"></ion-icon>
        <ion-label>
            <h2>{{appName}}</h2>
            <p>Version: {{appVersion}}</p>
        </ion-label>
    </ion-item>
    <ion-card-content>
        <div class="about-content myanmar-text my-uni" lang="my">
            <div class="about-section what-is-new">
                <h3 class="subtitle">ယခုဗားရှင်းအသစ်တွင်</h3>
                <p>အချို့သော bug များကိုပြုပြင်ထားခြင်းနှင့် အခြားတိုးတက်မှုများ ပါဝင်ပါတယ်။</p>
            </div>
            <div class="about-section features">
                <h3 class="subtitle">ထူးခြားချက်များ</h3>
                <ul class="features-list">
                    <li>
                        ဇော်ဂျီ နှင့် မြန်မာ ယူနီကုဒ် တို့ကို အပြန်အလှန် အမှားအယွင်းမရှိ တိကျမှန်ကန်စွာ
                        ပြောင်းပေးနိုင်အောင် သေချာစွာစမ်းသပ်ဖန်တီးပေးထားပါတယ်။ ပါဌ်ဆင့် စကားလုံးများ၊ ကင်းစီးများ
                        ပါရှိရင်လည်း ဇော်ဂျီ မှ ယူနီကုဒ်၊ ယူနီကုဒ် မှ ဇော်ဂျီ မှန်မှန်ကန်ကန်ပြောင်းလဲပေးနိုင်ပါတယ်။
                    </li>
                    <li>
                        စာရိုက်လိုက်တာနှင့် ဇော်ဂျီလား၊ ယူနီကုဒ်လား ဆိုတာကို သိရှိနားလည်ပြီး အလိုအလျောက်
                        ပြောင်းလဲပေးနိုင်ပါတယ်။
                    </li>
                    <li>
                        SMS Messaging, Viber စတဲ့ app များကနေ ဖတ်မရတဲ့ စာသားတွေကို Share menu ကနေ တဆင့် Zawgyi
                        Unicode
                        Converter ကို ပေးပို့ခြင်းဖြင့် လွယ်ကူမြန်ဆန်စွာ ဇော်ဂျီ ယူနီကုဒ် ပြောင်းပေးနိုင်အောင်
                        ပြုလုပ်ပေးထားပါတယ်။
                    </li>
                    <li>
                        အင်တာနက် မရှိချိန်တွင်လည်း အချိန်မရွေး အသုံးပြုနိုင်ပါတယ်။
                    </li>
                    <li>
                        ကြော်ငြာများမပါရှိခြင်း၊ အခမဲ့ဖြစ်ခြင်းအပြင် open source ကိုပါ GitHub ကနေရယူနိုင်ပါတယ်။
                    </li>
                </ul>
            </div>
            <div class="about-section short-description">
                <h3 class="subtitle">အကြောင်း</h3>
                <p>
                    Zawgyi Unicode Converter ကို DagonMetric ရဲ့ Myanmar Tools
                    အဖွဲ့ကနေ ဖန်တီးခဲ့ပြီး open source MIT license အနေနှင့် အခမဲ့ မျှဝေထားခြင်းဖြစ်ပါတယ်။
                </p>
            </div>
            <div class="about-section short-description">
                <h3 class="subtitle">ကွန်ပျူတာ (သို့) iPhone / iPad အသုံးပြုသူများအတွက်</h3>
                <p>
                    ကွန်ပျူတာ (သို့) iPhone / iPad အသုံးပြုသူများအတွက် အောက်ပါ link ကို browser ဖြင့်ဖွင့်ပြီး
                    အသုံးပြုနိုင်ပါတယ်။
                </p>
                <p class="web-app-link-text">
                    <a
                        href="https://zawgyi-unicode-converter.myanmartools.org">https://zawgyi-unicode-converter.myanmartools.org/</a>
                </p>
                <p>အထက်ပါ website မှာ Progressive Web Application (PWA) ဖြစ်တဲ့အတွက် မည်သည့် device တွင်မဆို
                    အသုံးပြုနိုင်ပြီး အင်တာနက်မရှိချိန်တွင်လည်း offline
                    အသုံးပြုနိုင်ပါတယ်။</p>
            </div>
            <div class="about-section long-description">
                <h3 class="subtitle">ပိုမိုသိရှိရန်</h3>
                <p>
                    Zawgyi Unicode Converter ရဲ့ သတင်းအချက်အလက်များနှင့် social / community စာမျက်နှာများကို
                    စုစည်းဖော်ပြလိုက်ပါတယ်။
                </p>
                <ion-list lines="none">
                    <ion-item *ngFor="let navLinkItem of navLinks" [href]="[navLinkItem.url]">
                        <ion-icon slot="start" [name]="navLinkItem.iconName"></ion-icon>
                        <ion-label class="myanmar-text my-uni">
                            {{navLinkItem.label}}
                        </ion-label>
                    </ion-item>
                </ion-list>
                <p>
                    ဤ Zawgyi Unicode Converter ကို အသုံးပြုရတာ ကြိုက်နှစ်သက်လိမ့်မယ်လို့ ယုံကြည်ပါတယ်။
                    သင့်မိတ်ဆွေများထံ မျှဝေခြင်းဖြင့် ကူညီလိုက်ပါ။
                </p>
                <div lang="en">
                    <ion-button fill="clear" class="share-btn" (click)="showShareSheet()">
                        <ion-icon name="share-social"></ion-icon> SHARE
                    </ion-button>
                </div>
            </div>

        </div>
    </ion-card-content>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismissModal()">CONTINUE
                <ion-icon slot="end" name="arrow-forward">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
