ion-icon.app-logo {
    padding: 10px;
    color: #ffffff !important;
    background: #8764B8 !important;
    border: #ffffff solid 1px;
    margin-right: 20px;
}

.about-content {
    .about-section + .about-section {
        margin-top: 24px;
    }

    .about-section.what-is-new {
        margin-top: 12px;
    }

    h3.subtitle {
        font-weight: 600;
        margin-bottom: 12px;
    }

    ul.features-list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li + li {
            margin-top: 10px;
        }
    }

    .share-btn {
        margin-top: 12px;
        margin-bottom: 6px;
    }
}
