<ion-app>
    <ion-menu side="end" contentId="main-content">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>
                    {{appName}}
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-item-group>
                <ion-item-divider>
                    <ion-label>
                        Community & Links
                    </ion-label>
                </ion-item-divider>
                <ion-list lines="none">
                    <ion-menu-toggle *ngFor="let navLinkItem of navLinks">
                        <ion-item [href]="[navLinkItem.url]">
                            <ion-icon slot="start" [name]="navLinkItem.iconName"></ion-icon>
                            <ion-label>
                                {{navLinkItem.label}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item button (click)="showHelpModal()">
                            <ion-icon slot="start" name="help-circle"></ion-icon>
                            <ion-label>
                                Help & Feedback
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item button (click)="showAboutModal()">
                            <ion-icon slot="start" name="information-circle"></ion-icon>
                            <ion-label>
                                About
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider>
                    <ion-label>
                        Sharing & Review
                    </ion-label>
                </ion-item-divider>
                <ion-list lines="none">
                    <ion-menu-toggle>
                        <ion-item button (click)="showShareSheet()">
                            <ion-icon slot="start" name="share-social"></ion-icon>
                            <ion-label>
                                Share
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item button (click)="promptForRating()">
                            <ion-icon slot="start" name="star"></ion-icon>
                            <ion-label>
                                Rate
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider>
                    <ion-label>
                        <h3>Personalization</h3>
                    </ion-label>
                </ion-item-divider>
                <ion-list lines="none">
                    <ion-item>
                        <ion-label>Dark mode</ion-label>
                        <ion-toggle [(ngModel)]="isDarkMode"></ion-toggle>
                    </ion-item>
                </ion-list>
            </ion-item-group>
        </ion-content>
        <ion-footer>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button color="medium" [href]="privacyUrl">
                        Privacy
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-footer>
    </ion-menu>

    <div class="ion-page" id="main-content">        
        <ion-content>
            <ion-toolbar color="primary">
                <ion-buttons slot="secondary">
                    <ion-button (click)="showAboutModal()">
                        <ion-icon slot="icon-only" name="logo-zawgyi-unicode-converter"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-title>
                    {{appName}}
                </ion-title>
                <ion-buttons slot="primary">
                    <ion-button (click)="toggleSideNav()">
                        <ion-icon slot="icon-only" name="menu-sharp"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>

            <ion-list>
                <ion-item>
                    <ion-label>Select input font</ion-label>
                    <ion-select [(ngModel)]="sourceEnc" [selectedText]="fontEncSelectedText" interface="popover">
                        <ion-select-option value="auto">AUTO DETECT</ion-select-option>
                        <ion-select-option value="zg">ZAWGYI</ion-select-option>
                        <ion-select-option value="uni">UNICODE</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="sourceText">
                    <ion-button slot="end" size="small" fill="clear" color="medium" (click)="clearInput()">Clear
                    </ion-button>
                </ion-item>
            </ion-list>
            <ion-grid>
                <ion-row>
                    <ion-col size="12" size-sm>
                        <ion-item>
                            <ion-label position="floating" *ngIf="sourceEncLabel">{{sourceEncLabel}}</ion-label>
                            <ion-textarea class="myanmar-text" [placeholder]="sourcePlaceholderText"
                                spellcheck="false" [(ngModel)]="sourceText"
                                [class.my-uni]="!detectedEnc || detectedEnc == 'uni'"
                                [class.my-zg]="detectedEnc == 'zg'" [autoGrow]="textAreaAutoGrow">
                            </ion-textarea>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" size-sm [class.ion-hide-sm-down]="!outText">
                        <ion-item>
                            <ion-label position="floating" *ngIf="targeetEncLabel">{{targeetEncLabel}}</ion-label>
                            <ion-textarea class="myanmar-text" [placeholder]="targetPlaceholderText"
                                spellcheck="false" [ngModel]="outText"
                                [class.my-uni]="targetEnc == 'uni'" [class.my-zg]="!targetEnc || targetEnc == 'zg'"
                                [readonly]="!outText" [autoGrow]="textAreaAutoGrow"></ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="footer-buttons">
                        <ion-button shape="round" fill="clear" color="medium" (click)="promptForRating()">
                            <ion-icon name="star"></ion-icon> Rate
                        </ion-button>
                        <ion-button shape="round" fill="clear" color="medium" (click)="showShareSheet()">
                            <ion-icon name="share-social"></ion-icon> Share
                        </ion-button>

                    </ion-col>
                </ion-row>
                <ion-row class="sponsor-cards" *ngIf="sponsorSectionVisible">
                    <ion-col *ngFor="let sponsor of sponsors">
                        <ion-card class="sponsor-card" [href]="sponsor.detailUrlForMobile">
                            <img *ngIf="sponsor.imageUrl" [src]="sponsor.imageUrl" />
                            <ion-item lines="none">
                                <img class="sponsor-logo" [src]="sponsor.logoUrl" slot="start" />
                                <div>
                                    <ion-card-subtitle *ngIf="sponsor.subTitle">{{sponsor.subTitle}}</ion-card-subtitle>
                                    <ion-card-title>{{sponsor.title}}</ion-card-title>
                                </div>
                            </ion-item>
                            <ion-card-content>
                                <p lass="myanmar-text my-uni" [innerHTML]="sponsor.description"></p>
                                <p class="sponsor-website" [class]="'ion-' + sponsor.themeColor">
                                    {{sponsor.detailUrlLabelForMobile}}
                                </p>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col>
                        <ion-button shape="round" fill="clear" disabled>
                            <ion-icon name="add-circle-outline"></ion-icon> Become A Sponsor
                        </ion-button>
                    </ion-col>
                    <ion-col *ngIf="sponsors.length < 2"></ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
    </div>
</ion-app>
